.card {
  display: "flex";
}
.details {
  display: "flex";
  flex-direction: "column";
}
.content {
  flex: "1 0 auto";
}
.cover {
  width: 150px;
}
.controls {
  display: "flex";
  align-items: "center";
  padding-left: 1;
  padding-bottom: 1;
}
.playIcon {
  height: 38;
  width: 38;
}
