<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="dev.hwiveloper.naranim.mapper.ElectionResultMapper">
	<select id="getElectionResultByWiwName" parameterType="Map" resultType="Map">
		SELECT
			c.*,
			CASE RIGHT(c.sgg_name, 1)
				WHEN '갑' THEN 1
				WHEN '을' THEN 2
				WHEN '병' THEN 3
				ELSE 0 END AS order_gan,
			CASE WHEN w.hubo_id IS NOT NULL then 1
				ELSE 0 END AS is_winner,
			vr.sunsu AS sunsu,
			vr.tusu AS tusu,
			vr.yutusu AS yutusu,
			vr.mutusu AS mutusu,
			vr.gigwonsu AS gigwonsu,
			vr.dugsu AS dugsu,
			(vr.dugsu / vr.yutusu) * 100 AS dugsu_ratio
		FROM
			candidate AS c
			LEFT OUTER JOIN winner AS w
				ON w.hubo_id = c.hubo_id
			LEFT OUTER JOIN vote_result AS vr
				ON vr.hbj = c.name
				AND vr.sg_id = c.sg_id
				AND vr.sg_type_code = c.sg_type_code
				AND vr.sd_name = c.sd_name
				AND vr.wiw_name = c.wiw_name
		WHERE 1=1
		AND c.sg_type_code = #{SG_TYPE_CODE}
		AND c.sg_id = #{SG_ID}
		AND c.sd_name = #{SD_NAME}
		AND c.wiw_name = #{WIW_NAME}
		ORDER by order_gan, dugsu_ratio
	</select>
	
	<select id="getElectionResultBySggName" parameterType="Map" resultType="Map">
		SELECT
			c.sg_id,
			c.sg_type_code,
			c.hubo_id,
			c.name,
			c.giho,
			c.jd_name,
			DATE_FORMAT(STR_TO_DATE(c.birthday, '%Y%m%d'), '%Y.%m.%d') AS birthday,
			c.hanja_name AS hanjaName,
			CASE RIGHT(c.sgg_name, 1)
				WHEN '갑' THEN 1
				WHEN '을' THEN 2
				WHEN '병' THEN 3
				ELSE 0 END AS order_gan,
			CASE
				WHEN w.hubo_id IS NOT NULL THEN 1
				ELSE 0 END AS is_winner,
			sum(vr.sunsu) AS sunsu,
			sum(vr.tusu) AS tusu,
			sum(vr.yutusu) AS yutusu,
			sum(vr.mutusu) AS mutusu,
			sum(vr.gigwonsu) AS gigwonsu,
			sum(vr.dugsu) AS dugsu,
			(sum(vr.dugsu) / sum(vr.yutusu)) * 100 AS dugsu_ratio
		FROM
			candidate AS c
			LEFT OUTER JOIN winner AS w
				ON w.hubo_id = c.hubo_id
			LEFT OUTER JOIN vote_result AS vr
				ON vr.hbj = c.name
				AND vr.sg_id = c.sg_id
				AND vr.sg_type_code = c.sg_type_code
				AND vr.sd_name = '합계'
		<if test="SG_TYPE_CODE != '1'">
				AND vr.sgg_name = c.sgg_name
		</if>
		WHERE 1=1
		AND c.sg_type_code = #{SG_TYPE_CODE}
		AND c.sg_id = #{SG_ID}
		AND c.sd_name = #{SD_NAME}
		AND c.sgg_name = #{SGG_NAME}
		GROUP BY c.name, order_gan, is_winner
		ORDER by order_gan, dugsu_ratio DESC
	</select>
	
	<select id="getCandidateSearch" parameterType="Map" resultType="Map">
		SELECT
			name,
			DATE_FORMAT(STR_TO_DATE(birthday, '%Y%m%d'), '%Y.%m.%d') AS birthday,
			jd_name,
			hanja_name AS hanjaName
		FROM candidate c
		WHERE name LIKE CONCAT('%',#{search},'%')
		AND sg_id = (
			SELECT
				MAX(sg_id)
			FROM candidate
			WHERE name = c.name
			AND birthday = c.birthday
			AND hanja_name = c.hanja_name
		)
		ORDER BY name
	</select>
	
	<select id="getCandidateDetail" parameterType="Map" resultType="Map">
		SELECT
			name,
			DATE_FORMAT(STR_TO_DATE(birthday, '%Y%m%d'), '%Y.%m.%d') AS birthday,
			jd_name AS jdName,
			hanja_name as hanjaName,
			career1,
			career2,
			edu,
			hubo_id AS huboId,
			sg_id AS sgId,
			sg_type_code AS sgTypeCode
		FROM candidate c
		WHERE name LIKE CONCAT('%',#{name},'%')
		AND birthday = #{birthday}
		AND hanja_name = #{hanjaName}
		AND sg_id = (
			SELECT
				MAX(sg_id)
			FROM candidate
			WHERE name = c.name
			AND birthday = c.birthday
			AND hanja_name = c.hanja_name
		)
		ORDER BY name, birthday
	</select>
	
	<select id="getCandidateHistory" parameterType="Map" resultType="Map">
		SELECT
			c.sg_id AS sgId,
			c.sg_type_code AS sgTypeCode,
			c.sd_name AS sdName,
			c.sgg_name AS sggName,
			LEFT(e.sg_id, 4) AS year,
			sg_name AS sgName,
			c.sgg_name AS sggName,
			c.jd_name AS jdName,
			truncate(vr.dugsu / yutusu * 100, 2) AS dugyul,
			c.hubo_id AS huboId,
			CASE (
				SELECT
					COUNT(*)
				FROM winner
				WHERE sg_id = c.sg_id
				AND sg_type_code = c.sg_type_code
				AND sgg_name = c.sgg_name
				AND hubo_id = c.hubo_id
			)
				WHEN 0 THEN 'N'
				WHEN 1 THEN 'Y'
				ELSE 'Y' END AS winnerYn
		FROM candidate c
			JOIN election e
				ON e.sg_id = c.sg_id
				AND e.sg_type_code = c.sg_type_code
			LEFT JOIN vote_result vr
				ON vr.hbj = c.name
				AND vr.sg_id = c.sg_id
				AND vr.sg_type_code = c.sg_type_code
				AND vr.sd_name = '합계'
				AND vr.sgg_name = c.sgg_name
		WHERE name = #{name}
		AND birthday = #{birthday}
		AND hanja_name = #{hanjaName}
		ORDER BY c.sg_id DESC
	</select>
</mapper>