<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="dev.hwiveloper.naranim.mapper.ElectionMapper">
	<select id="getElectionTypes" resultType="Map">
		SELECT
			sg_type_code,
			sg_type_name
		FROM
			election_type
		ORDER BY CAST(sg_type_code AS INT)
	</select>
	
	<select id="getElections" parameterType="Map" resultType="Map">
		SELECT
			sg_id,
			sg_type_code
		FROM election
		ORDER BY STR_TO_DATE(sg_id, '%Y%m%d') DESC
	</select>
	
	<select id="getSdNames" parameterType="Map" resultType="String">
		SELECT
			DISTINCT sd_name
		FROM sungeogu
		WHERE 1=1
		AND sg_id = #{SG_ID}
		AND sg_type_code = #{SG_TYPE_CODE}
		AND sd_name != ''
	</select>
	
	<select id="getSggNames" parameterType="Map" resultType="String">
		SELECT
			DISTINCT sgg_name
		FROM sungeogu
		WHERE sg_id = #{SG_ID}
		AND sg_type_code = #{SG_TYPE_CODE}
		AND sd_name = #{SD_NAME}
		<if test="WIW_NAME != '전지역'">
		AND wiw_name = #{WIW_NAME}
		</if>
	</select>
	
	<select id="getWiwNames" parameterType="Map" resultType="String">
		SELECT
			DISTINCT CASE wiw_name WHEN '' THEN '전지역' ELSE wiw_name END AS wiw_name
		FROM sungeogu
		WHERE sg_id = #{SG_ID}
		AND sg_type_code = #{SG_TYPE_CODE}
		AND sd_name = #{SD_NAME}
	</select>
</mapper>