<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="dev.hwiveloper.naranim.mapper.EvaluationMapper">	
	<select id="getEvaluationByCandidate" parameterType="Map" resultType="Map">
		SELECT
			*
		FROM
			evaluation e
		WHERE 1=1
		AND candidate_name = #{name}
		AND candidate_birthday = #{birthday}
		AND candidate_hanja_name = #{hanjaName}
		AND apply_yn = 'Y'
	</select>
	
	<select id="getElectionByCandidate" parameterType="Map" resultType="Map">
		SELECT
			hubo_id AS code,
			CONCAT(t.upper_sg_name, ' : ', t.lower_sg_name) AS label
		FROM candidate c,
			(
				SELECT
					t1.sg_id AS sg_id,
					t1.sg_type_code AS sg_type_code,
					t2.sg_name AS upper_sg_name,
					t1.sg_name AS lower_sg_name
				FROM election t1, election t2
				WHERE 1=1
				AND t1.sg_id = t2.sg_id
				AND t2.sg_type_code = '0'
			) t
		WHERE c.sg_id = t.sg_id
		AND c.sg_type_code = t.sg_type_code
		AND c.hubo_id = #{huboId}
	</select>
</mapper>