<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="dev.hwiveloper.naranim.mapper.RegionMapper">
	<select id="getRegions" parameterType="Map" resultType="Map">
		SELECT
			  DISTINCT sd_name AS sdName
			<if test="sdName != null and sdName != ''">
			, gusigun_name AS gusigunName
			</if>
			<if test="gusigunName != null and gusigunName != ''">
			, emd_name AS emdName
			</if>
			<if test="emdName != null and emdName != ''">
			, sgg_name AS sggName
			</if>
			, sg_id AS sgId
			, sg_type_code AS sgTypeCode
		FROM region
		WHERE 1=1
		<if test="sdName != null and sdName != ''">
		AND sd_name = #{sdName}
		</if>
		<if test="gusigunName != null and gusigunName != ''">
		AND gusigun_name = #{gusigunName}
		</if>
		<if test="emdName != null and emdName != ''">
		AND emd_name = #{emdName}
		</if>
		AND sg_id = '20200415'
		AND sg_type_code = '2'
		ORDER BY sd_name, gusigun_name, emd_name
	</select>
	
	<select id="getMyRegionCandidates" parameterType="Map" resultType="Map">
		SELECT
			hubo_id AS huboId,
			name,
			DATE_FORMAT(STR_TO_DATE(birthday, '%Y%m%d'), '%Y.%m.%d') AS birthday,
			jd_name as jdName,
			hanja_name AS hanjaName,
			giho,
			image
		FROM candidate c
		WHERE 1=1
		AND sg_id = '20200415'
		AND sg_type_code = '2'
		AND sgg_name = #{sggName}
		ORDER BY giho
	</select>
	
	<select id="getSggByRegion" parameterType="Map" resultType="String">
		SELECT
			sgg_name AS sggName
		FROM region
		WHERE 1=1
		AND sd_name = #{sdName}
		AND gusigun_name = #{gusigunName}
		AND emd_name = #{emdName}
		AND sg_id = '20200415'
		AND sg_type_code = '2'
	</select>
	
	<select id="getPollPlaces" parameterType="Map" resultType="Map">
		select
			sd_name as sdName,
			sg_id as sgId,
			addr as addr,
			emd_name as emdName,
			ev_order as evOrder,
			ev_ps_name as evPsName,
			floor as floor,
			place_name as placeName,
			ps_name as psName,
			wiw_name as gusigunName
		from poll_place
		where sg_id='20200415'
		and pre_yn = '1' -- 조건부
		and sd_name = #{sdName}
		and wiw_name = #{gusigunName}
	</select>
</mapper>